h1.index-header a {
  text-decoration: none;
  color: #1663c7;
}

h1.index-header {
  text-align: center;
  margin: 20px 0;
}

/* Stile per il dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  max-width: 134px;
  margin: 0px 0px 0px 20px;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Stile per i prodotti */
.prodotti {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.prodotti-inline {
  display: flex;
  margin: 20px;
  overflow: hidden;
}

.elemento, .elemento-inline {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: calc(25% - 40px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.elemento-inline {
/*   flex-basis: 13%; */
/*   flex-shrink: 0; */
/*   width: auto; */
  flex-shrink: 0;
  width: 23%;
  min-width: 155px;
}

.elemento:hover, .elemento-inline:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.prodotto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Stile per la descrizione del prodotto */
.dettagli {
  table-layout: fixed;
  width: 100%;
}

.dettagli td {
  padding: 10px;
  text-align: center;
}

.dettagli td:first-child {
  font-weight: bold;
}

/* Stile per i bottoni */
.bottoni {
  text-align: center;
}

.button {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}

/* Classe per il pulsante con effetto shine */
.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine span {
  position: relative;
  z-index: 1;
}

.btn-shine::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.15);
  transform: translate(-50%, -50%) rotate(35deg);
  transition: all 0.75s ease;
}

.btn-shine:hover::before {
  top: -50%;
  left: -50%;
}

/* Stile per il messaggio "Nessun prodotto disponibile" */
.niente {
  text-align: center;
  color: #666;
  font-size: 18px;
  margin: 50px 0;
}

/* Responsive design */
@media (max-width: 1000px) {
  .elemento {
    width: calc(40% - 40px);
  }
}

@media (max-width: 700px) {
  .elemento {
    width: calc(70% - 40px);
  }

  .dropbtn {
    width: 100%;
  }
}
