/* modificaPagamento.css */

/* Il pop-up di modifica pagamento è nascosto per default */
.modifica-pagamento {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 4px;
}

/* L'overlay è nascosto per default */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Classe attiva per il pop-up */
.modifica-pagamento.activeModifica {
    display: block;
}

/* Classe attiva per l'overlay */
#overlay.activeOverlay {
    display: block;
}

/* Stile per il pulsante di chiusura */
.close-button {
    background: #007bff; 
    border: none; 
    font-size: 1.1em; 
    cursor: pointer; 
    color: white;
    border-radius: 8%;
    width: 65px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    background-color: #0056b3;
}

.pagamento-non-valido {
	color: #cb0202;
	margin-top: 8px;
	font-size: 1em;
}
