<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>Tsw-keyItaly</display-name>
  
<!--   <welcome-file-list>
    <welcome-file>index.jsp</welcome-file> 
  </welcome-file-list> -->
  
  <resource-ref>
    <description>Riferimento JNDI al data source</description>
	<res-ref-name>jdbc/keyItaly</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>

  <!-- <error-page> 
    <error-code>404</error-code>
    <location>/pages/errorPage.jsp</location>
  </error-page> -->
  
  <error-page> 
    <error-code>500</error-code>
    <location>/pages/errorPage.jsp</location>
  </error-page>
  
  <!-- <error-page>
  	<location>/pages/errorPage.jsp</location>
  </error-page>

	<error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/pages/errorPage.jsp</location>
    </error-page> -->

<!-- IMPORTANTE: Su Ecipse, vai su Window > Preferences > General > Workspace
	 Seleziona 'Refresh using native hooks or polling.' > Apply -->

  <context-param>
    <param-name>WEBCONTENT_PATH</param-name>
    <!-- Inserisci qui il path del WebContent del tuo PC -->
    <!-- <param-value>C:\Users\cerch\Desktop\gitProgettoTSW\Tsw-keyItaly\WebContent</param-value> -->
    <param-value>C:\Users\cerch\Desktop\immaginiCatalogo</param-value>
  </context-param>
  
</web-app>